{% load static %}


<!--
<h3>hello World</h3>
<img src="{% static 'images/profilepic.png' %}" >

-->
<!DOCTYPE html>
<html>
<head>
    <title>Leon Aleri Mpaka</title>
    <link href="{% static '/css/main.css'  %}" rel ="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profilepic.png' %}" >
                    <hr>
                    <h4>Welcome to Leon's Portfolio</h4>
                    <p>I love Project Management, music and coding</p>
                    <p><a href="https://dltbrunch.co.uk/">DLT Brunch Website</a></p>
                    <p><a href="{% static 'files/leoncv.pdf' %}">My CV</a> </p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My Professional Journey So Far</h4>
                <hr>
                <p>
                    I started off gaining basic experience in administration and operations working as an Operations manager at AB360, soon I felt it was time to move on and
                    seek something new. Working as a property manager to develop my skills further, I hit the ground running and became succesful at the role in a heartbeat.
                </p>

                <p>
                    During this period is where I started doing events and co-founded DLT brunch with 4 other friends,
                    working at AIMA Events part time as a project manager and analyst.The event has now become one of the biggest fixtures
                    in the london party scene regularly selling out in seconds with over 20 sold out events events and over 30,000 attendees. Recently expanded we have held events
                    in Ibiza, Lagos and Accra. We have also recently collaborated with the likes of Live nation's Metropolis music and Virgin Music, with performances from the likes of
                    Compozers, Ms Banks, So Solid Crew and WSTRN.
                </p>

                <p>
                    In January 2017 I began a new journey at Mott MacDonald supporting high value international health projects. I was given added responsibility by senior management due to my efficiency,
                    stakeholder management and organisational skills, being appointed BMS rep, in charge of overseeing project control processes. I am now looking for a new challenge in my career.
                </p>

                <ul class="social-links">
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">

                    <h4>My Experience In Project Management</h4>
                <hr>
                <p>
                    Working in Operations managing client promotional projects from inception to delivery at AB360.
                </p>

                <p>
                    Managing small building management and maintenance projects at Abby properties ranging from £5-50,000,
                    projects involving multiple stakeholders covering over 100 properties on a regular basis.
                </p>

                <p>
                    Assisting Project Manager's on high value complex projects ranging from £1-41 Million with financial, logistics,
                    compliance, reporting and other ad hoc administration tasks on the project. Coordination for high profile project bids.

                    Responsible for overseeing project controls and compliance for the International health team globally (8 projects
                    with over 70 team members), Communicating, reporting findings, and advising senior staff members.
                </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>My Skills & Qualifications</h4>
                <hr>
                <p>
                    Microsoft Office (Excel, Word, PowerPoint, PowerBI). Python(Numpy, Pandas, Matplotlib), SQL(Basic),
                    Tableau.
                </p>

                <p>
                    Project Management, Administration, Stakeholder management, Risk management and due diligence, Budgeting,
                    Logistics management, Document control, Project processes, Research, Event management, Data analysis
                </p>

                <p>
                    7 A-C GCSE Grades including Maths, English & Science and GNVQ in ICT. 3 A levels in Business, Sociology and ICT.
                    Bachelor Degree in Business Management from Kingston University. PRINCE2 Foundation qualification.
                </p>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                     <h4>My Future Goals</h4>
                <hr>
                <p>
                    Planning to continue working in Project Management or Operations Management.
                    I want to improve my data analysis skills and advance my knowledge in SQL and Python so roles in
                    data analysis, business analysis/intelligence. Any project roles that allow me to use these skills
                    are what I am looking.
                </p>

                <p>
                    Continued learning of more advanced SQL and Python, with goals to eventually learn more programming languages.
                    I also plan to eventually become a PRINCE2 Practitioner.
                </p>

                <p>
                    I keen to work in a more tech focused industry, fintech, startup or an industry that my interests
                    and hobbies align with such as; Music, Clothing/Streetwear, Entertainment, Technology.
                </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Interests and Other info.</h4>
                <hr>
                <p>
                    I have an interest in Anime, being an avid watcher since the early 2000's when Pokemon first aired,
                    to Dragonball Z then to the beginning of Once Piece(which I still follow till this day). Other favourites include
                    Hunter x Hunter, Fullmetal Alchemist Brotherhood and Attach on Titan.
                </p>
                <p>
                    I have a passion for Music, especially Hip hop. R&B and Snake Jazz, Regularly attending concerts and festivals.
                    I am also an amateur DJ in my spare time, having done this for the past 2 years at gatherings between family
                    and friends.
                </p>
                <p>
                    I am also interested in streetwear and sneakers, Football (Arsenal fan) and other sports including Basketball.
                    I also follow a few others casually such as American Football. I am very interested in the technology industry and
                    coding (which I have taken up more consistently of recent).
                </p>
                </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</body>
</html>
